<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo" src="../assets/images/assessment.png" />
  <span>Welcome</span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <span>{{ title }}</span>
  </div>

  <!-- Resources -->
  <h2>Applications</h2>
  <p>Click on the following to open the App:</p>

  <div class="card-container">
    <div class="col-md-4 col-xs-12">
      <div class="row">
        <a class="card" [routerLink]="" (click)="openTimerApp()">
          <span>Timer</span>
        </a>
      </div>
      <ng-container *ngIf="enableTimerSection">
        <div class="row appSection">
           <app-timer></app-timer>
        </div>
      </ng-container>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="row">
        <a class="card" [routerLink]="" (click)="openCounterApp()">
          <span>Counter</span>
        </a>
      </div>
      <ng-container *ngIf="enableCounterSection">
        <div class="row appSection">
          <app-counter></app-counter>
        </div>
      </ng-container>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="row">
        <a class="card" [routerLink]="" (click)="openArithmeticApp()">
          <span>Arithmetic Operations</span>
        </a>
      </div>
      <ng-container *ngIf="enableArithmeticSection">
        <div class="row appSection">
          <app-arithmetic></app-arithmetic>
        </div>
      </ng-container>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>